### Node-specific gitignore files ###

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

#react router runtime
.react-router

#Vite cache
.vite/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

### React-specific gitignore files ###

.DS_STORE
node_modules
build/
.module-cache
*.log*
chrome-user-data
.vscode
*.swp
*.swo
