.navpage-container {
  display: flex;
  flex-direction: column-reverse;
}

.fade-enter {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
}
