@import "media-queries.scss";

.sponsors-container {
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 28px;
  max-width: 100vh;
}

.tier {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.tier-title {
  font-family: "IBM Plex Mono", monospace;
  font-size: clamp(1.1rem, 0.8rem + 1vw, 1.5rem);
  letter-spacing: 0.06em;
  // text-transform: uppercase;
  opacity: 0.9;
}

.tier-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.sponsor img {
  height: auto;
  object-fit: contain;
}

.tier--platinum .sponsor img {
  max-width: 450px;
}
.tier--gold .sponsor img {
  max-width: 400px;
}
.tier--silver .sponsor img {
  max-width: 200px;
}
.tier--bronze .sponsor img {
  max-width: 160px;
}
.tier--inkind .sponsor img {
  max-width: 150px;
}

@include tablet {
  .tier--platinum .sponsor img {
    max-width: 420px;
  }
  .tier--gold .sponsor img {
    max-width: 360px;
  }
  .tier--silver .sponsor img {
    max-width: 130px;
  }
  .tier--bronze .sponsor img {
    max-width: 120px;
  }
  .tier--inkind .sponsor img {
    max-width: 120px;
  }
}

@include mobile {
  .tier--platinum .sponsor img {
    max-width: 320px;
  }
  .tier--gold .sponsor img {
    max-width: 260px;
  }
  .tier--silver .sponsor img {
    max-width: 120px;
  }
  .tier--bronze .sponsor img {
    max-width: 100px;
  }
  .tier--inkind .sponsor img {
    max-width: 100px;
  }
}
