.sponsors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 100vh;
}

.sponsors-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.center-sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor img {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

.center-sponsor img {
  max-width: 500px;
}

@media (max-width: 1024px) {
  .sponsors-row {
    flex-wrap: wrap;
  }
  .sponsor img {
    max-width: 120px;
  }
  .center-sponsor img {
    max-width: 450px;
  }
}
@media (max-width: 768px) {
  .sponsors-row {
    flex-wrap: wrap;
  }
  .sponsor img {
    max-width: 100px;
  }
  .center-sponsor img {
    max-width: 300px;
  }
}
