@import "_theme.scss";
@import "media-queries.scss";

$mobile-navbar-height: 80px;
$tablet-navbar-height: 70px;
$desktop-navbar-height: 70px;

.header {
  height: auto;
  width: 100%;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: flex-start;
  z-index: 2;

  @include mobile {
    height: $mobile-navbar-height;
  }
}

.strip {
  position: relative;
  background-color: $theme-primary;
  border-bottom: solid 1px $theme-primary;
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 12vw;
  justify-content: flex-end;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);

  @include tablet {
    padding-left: 18vw;
    justify-content: space-between;
  }
}

.badge {
  position: absolute;
  z-index: 5;
  height: 90px;
  width: 90px;
  background-color: white;
  left: 40px;
  top: 15px;
  border-radius: 100%;
  border: 8px double $theme-primary;
  box-shadow: rgba($theme-primary, 0.8) 0 0 0 6px,
    rgba(0, 0, 0, 0.8) 0px 6px 5px;
  contain: content;

  @include tablet {
    width: 70px;
    height: 70px;
  }

  @include mobile {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    left: 20px;
    top: 0px;
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
  }

  /* The image inside the badge/logo container */

  @include not-mobile {
    img.vertical {
      height: 100%;
      width: auto;
      transform: translateY(-5%);
    }

    img.horizontal {
      display: none;
    }
  }

  @include mobile {
    img.horizontal {
      display: block;
      height: 50%;
      width: auto;
      transform: none;
    }

    img.vertical {
      display: none;
    }
  }
}

.menu-items-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.2s;

  @include tablet {
    height: tablet-navbar-height;
  }

  @include mobile {
    border: none;
  }

  .menu-item {
    font-size: large;
    font-family: "Inter", sans-serif;
    font-weight: medium;
    text-transform: none;
    transition: ease-in-out 0.2s;
    height: $desktop-navbar-height;

    @include tablet {
      font-size: small;
      padding-right: 25px;
      padding-left: 25px;
      height: $tablet-navbar-height;
    }

    @include mobile {
      display: none;
    }
  }
}

.menu-button {
  display: none;

  @include mobile {
    display: block;
    transition: ease-in-out 0.2s;
  }
}

.social-media {
  display: block;
}
.mobile-drawer-social-media {
  display: none;
}

@include mobile {
  .social-media {
    display: none;
  }
  .mobile-drawer-social-media {
    display: block;
  }
}
