@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
  position: absolute;
}

.header{
  height: 16vh;
  min-height: 5em;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: flex-start;
}

.strip{
  position: relative;
  z-index: 4;
  background-color: #382F2A;
  color: white;
  height: 55%;
  width: 100%;
  display: flex;
  padding-left: 12vw;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.head-item{
  padding: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
  font-size: x-large;
}

.head-item:hover{
  background-color: #564C45;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.active:hover{
  background-color: gainsboro;
  color: #564C45;
}

.active{
  background-color: gainsboro;
  color: #564C45;
}

.tri{
  position: absolute;
  height: 100%;
  width: 16%;
  background-color: #595959;
  clip-path: polygon(0% 0%, 40% 0%, 40% 100%, 0% 100%);
  z-index: 3;
}

.badge{
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 16vh;
  min-width: 5em;
  background-color: white;
  left: 1.5vw;
  top: 3vh;
  border-radius: 100%;
  border-style: double;
  border-width: 1vh;
  border-color: #382F2A;
  box-shadow: #382F2A 0 0 0 8px;
}

.badge img{
  height: 100%;
  width: 100%;
  transform: translateY(-5%);
}

@media screen and (max-aspect-ratio: 10/7) {
  .strip{
    padding-left: 22vw;
  }

  .head-item{
    font-size: large;
  }
}

@media screen and (max-width: 600px) {
  .tri{
    display: none;
  }
  
  .toggledheader{
    margin: 0;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    align-items: flex-start;
    justify-content: flex-end;
  }

  .badge{
    height: fit-content;
    top: 1.5vh;
    left: 3vw;
  }
  
  .strip{
    background-color: rgba(0,0,0,0);
    padding-left: 0;
    visibility: hidden;
  }

  .invisible{
    visibility: hidden;
  }

  .toggledstrip{
    display: flex;
    width: 60vw;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .head-item{
    font-size: large;
    width: 100%;
    margin-top: 0.5vh;
  }

  .badge:hover{
    cursor: pointer;
    animation: radiate 4s linear;
    animation-iteration-count: infinite;
  }

  .toggledbadge{
    border-color: #595959;
    box-shadow: #595959 0 0 0 8px;
  }

  @keyframes radiate{
    4%{
      border-style: double;
      border-color: gainsboro;
      box-shadow: #382F2A 0 0 0 4px;
    }
    6%{
      border-style: solid;
      border-color: gainsboro;
      box-shadow: #382F2A 0 0 0 2px;
    }
    8%{
      border-style: double;
      border-color: #382F2A;
      box-shadow: gainsboro 0 0 2px 4px;
    }
    10%{
      box-shadow: gainsboro 0 0 8px 10px;
    }
    12%{
      border-style: solid;
      border-color: gainsboro;
      box-shadow: #382F2A 0 0 0 2px;
    }
    14%{
      border-style: double;
      border-color: #382F2A;
      box-shadow: gainsboro 0 0 2px 4px;
    }
    16%{
      box-shadow: gainsboro 0 0 8px 10px;
    }
    18%{
      border-style: double;
      border-color: #382F2A;
      box-shadow: #382F2A 0 0 0 8px;
    }
  }
}