@import "media-queries.scss";

.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;

  a {
    color: #000;
    transition: color 0.3s ease;

    &:hover {
      color: #0077b5;
    }

    svg {
      font-size: 2rem;
    }
  }
}

.discord-link img {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.discord-link:hover img {
  filter: invert(32%) sepia(92%) saturate(4171%) hue-rotate(190deg)
    brightness(95%) contrast(92%);
}

/* People */

.peoples-grid {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
}

.person {
  height: 100%;
  margin-bottom: 1em;

  .image-container {
    width: 100%;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.person-names {
  font-weight: 700;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  letter-spacing: 0.305em;
  text-transform: uppercase;
  margin: 0;
}

.person-position {
  margin: 9px;
  color: #000000;
  font-weight: 300;
  font-size: 13px;
}

.person-description {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

@include mobile {
  .peoples-grid {
    max-width: fit-content;
  }
}

@include tablet {
  .peoples-grid {
    max-width: 60%;
  }
}
